    <div class="not-found-container">
      <div class="content">
        <span class="error-code">404</span>
        <h1>Page non trouvée</h1>
        <p>La page que vous recherchez n'existe pas ou a été déplacée.</p>
        <div class="actions">
          <a routerLink="/" mat-raised-button color="primary">
            <mat-icon>home</mat-icon>
            Retour à l'accueil
          </a>
          <a routerLink="/catalog" mat-stroked-button>
            <mat-icon>store</mat-icon>
            Explorer le catalogue
          </a>
        </div>
      </div>
    </div>
  
